PORT=8080
MCP_PORT=8081
API_KEY=apitest
DATABASE_URL=postgres://postgres:postgres@localhost:5433/orderdb?sslmode=disable
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=order-food-api
COUPON_FILE_URLS=https://orderfoodonline-files.s3.ap-southeast-2.amazonaws.com/couponbase1.gz,https://orderfoodonline-files.s3.ap-southeast-2.amazonaws.com/couponbase2.gz,https://orderfoodonline-files.s3.ap-southeast-2.amazonaws.com/couponbase3.gz
